gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties

#firebase config file
app/google-services.json
furballTalesApp/android/app/google-services.json

#local properties
app/local.properties
furballTalesApp/android/app/local.properties

#gradlew.bat
app/gradlew.bat
furballTalesApp/android/app/gradlew.bat

#gradlew
app/gradlew
furballTalesApp/android/app/gradlew

#gradle wrapper properties
app/gradle/wrapper/gradle-wrapper.properties
furballTalesApp/android/app/gradle/wrapper/gradle-wrapper.properties

#DS Store 
.DS_Store
